.container {
  padding: 0;
}

.header {
  width: 100%;
  height: 84px;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.icon {
  position: absolute;
  font-size: 4rem;
  left: 0;
  color: #fff;
  cursor: pointer;
}

.submitBtn {
  border: none;
  margin: 0.5rem 0;
  min-height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--darkgreen);
  text-align: center;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Open sans";
  cursor: pointer;
}

.submitBtn:active {
  background-color: var(--darkgrey);
}

.checkboxSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 1em;
}

.checkboxSection * {
  margin: 0 1em 0 0;
}

.wrongPass {
  font-size: 0.8em;
  color: red;
  margin: 0 0 0 1em;
}

.resetSuccessful {
  text-align: center;
  font-size: 1.2em;
  margin: 2em 0;
}
