h1 Welcome, We're glad you chose "the smarter way".
p Your bid is now registered.
ul The following are the bid details:
li #{amount}
li #{street},#{city}
li #{country}

p 
 strong Edit your bid<br>Submit your bid<br>Retract your bid<br>Invite friends to get more bid credits

p You are now part of a community that connects buyers with homeowners across the world.
p Make your dreams become your reality.