



h1 You have been banned!


p We are writing to inform you that your PlotEye account has been terminated due to violation of our Terms of Service and Community Rules.

p Your behavior and activities within the PlotEye community have been found to be in violation of the standards set forth by our terms and conditions, which have resulted in your ban.

p Reasons for account termination can include, but are not limited to, suspicious activity, an excessive number of reports, and being connected to previous banned accounts. We strongly advise you to familiarize yourself with our rules and terms of service to ensure a better understanding of the expectations for members of the PlotEye community.

p The reason for your ban is stated as: #{banReason}.

p We understand that mistakes can sometimes happen, but it is important to maintain a safe and respectful environment for all members of the PlotEye community. If you believe that there has been an error in the termination of your account, please reach out to us at [PlotEye Support Email] to discuss the situation further.

p Thank you for your understanding and cooperation.

p Best regards,
p The PlotEye Team