h1 Thanks for registering as the owner of plot: #{street} #{city} #{country}

p For this to be approved, we need to see proof of ownership
p Just follow these easy steps:
p Download the "Lagfart" from this URL.

p Reply to this email and attach the lagfart file.
p We'll review the document and connect the plot to your account.

p After ownership is confirmed, we will begin communicating offers that are placed on your plot/property