h1 Bid Denied 

Dear #{firstName},

p I hope this email finds you well. I am writing on behalf of PlotEye to inform you that we have received and thoroughly evaluated all the bids submitted for #{address}.

p We would like to express our gratitude for your interest in this project and for taking the time to prepare and submit your bid. Your submission has been carefully considered along with all the other bids received.

p Unfortunately, after a comprehensive review and evaluation, we have determined that your bid does not meet the criteria and specifications that we are looking for in a successful bid.

p We understand that a lot of time, effort and resources have gone into preparing your bid and we appreciate your dedication to this project. Please be assured that this decision does not reflect negatively on your company or its capabilities.

p We thank you for your interest in working with us and we hope that you will consider bidding on future projects with PlotEye.

p If you have any questions or concerns, please do not hesitate to reach out to us.


p you have offered us: #{amount}

p Best regards,

p PlotEye

