p We hope this email finds you well. We are writing to inform you that our team at PlotEye has issued you a warning for 
p The reason for your warn is stated as: 
#{warnReason}.
p We take such actions very seriously and only resort to them in exceptional circumstances to protect the security and integrity of our platform.

p We understand that receiving a warning can be concerning, but please be assured that we have thoroughly reviewed
p  your account and have found that you have violated our policies or terms of service. 
p We have strict policies in place to ensure the safety of all our users and the long-term success of our platform.
p This warning serves as a reminder of our policies and is intended to prevent further violations. 
p We kindly request that you review our policies and ensure that your future actions comply with them. 
p If you have any questions or concerns about our policies, please do not hesitate to contact us.

p We value you as a member of our community and appreciate your cooperation in maintaining a safe and positive environment for all users. 
p If you continue to violate our policies or terms of service, we may have to take further action, which could include suspension or termination of your account.

p Thank you for your understanding and cooperation.

p Best regards,

p PlotEye