.container {
  padding: 0;
  margin-bottom: 100px;
}

.header {
  display: flex;
  margin-top: 10px;
}

.header h1 {
  width: 224px;
  height: 70px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  margin-left: 3px;
  margin-bottom: -30px;
  margin-top: 1px;
}

.backBtn button {
  position: relative;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6px 10px;
  gap: 10px;
  width: 100px;
  height: 28px;
  top: 3px;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

.backBtn {
  font-family: "Open Sans";
  font-style: normal;
}

.icon {
  position: absolute;
  font-size: 4rem;
  left: 0;
  color: #fff;
  cursor: pointer;
}

.contain {
  display: flex;
  justify-content: center;
  font-style: "normal";
  font-family: "Opan Sans";
}

.saveBtn {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: 1px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  background-color: var(--darkgreen);
  cursor: pointer;
}

.cancelBtn {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-right: 20px;
  background-color: #fff;
  cursor: pointer;
}

.close {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.close * {
  margin: 0 1em 0 0;
}

.wrongPass {
  font-size: 0.8em;
  color: red;
  margin: 0 0 0 1em;
}

.resetSuccessful {
  text-align: center;
  font-size: 1.2em;
  margin: 2em 0;
}

.checkboxSection {
  display: flex;
  justify-content: center;
  margin-right: 120px;
}
