h3 We have completed your request to reset your password for your PlotEye account #{name}. 
br
h4 Your new password is as follows:
p #{password}
br
p We highly recommend that you change your password to a secure and unique one as soon as possible by logging into your account and navigating to the “Account Settings” section.
p If you did not request this password reset that means someone else has access to your email account. You should change your email password immediately and contact us at [PlotEye Support Email].
p Thank you for using PlotEye, and if you have any questions or concerns, please do not hesitate to reach out to us.
p Best regards,
p The PlotEye Team