h3 We have received your request to reset your password for your PlotEye account #{name}.
p Your reset code is: #{codeString}
br
p  Copy the code and follow the link below to reset your password:
p  #[a(href='https://app.ploteye.com/account/resetpass') https://app.ploteye.com/account/resetpass]
br