h1 Dear #{firstName},

p We are happy to inform you that your bid on #{address} has been accepted by the PlotEye team and will be proposed to the property owner for consideration.

p At PlotEye, we take great care in reviewing all bids submitted on properties and are pleased to see that your bid meets the criteria for this property. Our team is confident that your proposal will be well received by the property owner and we are excited to be a part of this opportunity.

p We will be presenting your bid to the property owner in the near future and will keep you updated on the progress of the negotiation. In the meantime, if you have any questions or concerns, please do not hesitate to reach out to us at [PlotEye Support Email].

p We would like to extend our heartfelt gratitude for using PlotEye and for entrusting us with your real estate needs. Our team is committed to providing you with the best possible experience and we look forward to supporting you on future opportunities.

p Best regards,
p The PlotEye Team