/* .main {
  background-color: rgb(227, 227, 227);
  margin-top: 30px;
  word-wrap: break-word;
}

.main li {
  padding-top: 10px;
}

.deny{
  background-color: red;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.deny:hover{
  background-color: crimson;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


/* .confirm{
  background-color: green;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.confirm:hover{
  background-color: limegreen;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
} */
