.container {
  padding: 0;
}

.header {
  width: 100%;
  height: 84px;
  margin: 0;
  margin-left: -55px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  font-size: 1.7rem;
}

.icon {
  position: absolute;
  font-size: 4rem;
  left: 0;
  color: #fff;
  cursor: pointer;
}

.changeProfileImage {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.imageContainer {
  background-color: #fafafa;
  border: 3px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
  font-size: 3rem;
  color: #d1d1d1;
  overflow: hidden;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* .imageContainer:hover {
  border: 2px solid #d1d1d1;
  cursor: pointer;
}
.imageContainer:active {
  border: 2px solid #d1d1d1;
} */

.changeProfileImage button {
  height: 3rem;
  width: 4rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.changeProfileImage input[type="file"] {
  display: none;
}

.changeProfileImage label {
  background-color: #cce8d0;
  height: 3rem;
  width: 4rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete {
  background-color: #e8cccc;
}

.divider {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 1px;
}

.nameChange {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.formButtons {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.saveBtn {
  background: #4cad61;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-family: "Open sans";
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  padding: 0.5rem 0;
  height: 36px;
  width: 110px;
  cursor: pointer;
  margin-top: 20px;
}

.cancelBtn {
  background: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-family: "Open sans";
  color: black;
  font-size: 16px;
  line-height: 21px;
  padding: 0.5rem 0;
  height: 36px;
  width: 110px;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 20px;
}

.currentName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.names {
  display: flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.names h2 {
  margin: 0;
}

.names h2:nth-child(1) {
  margin-right: 0.5rem;
}
.names h2:nth-child(2) {
  margin-left: 0.5rem;
}

.currentName button {
  background: #4cad61;
  box-shadow: 1px 1px 2px 2px rgba(203, 203, 203, 0.25);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-family: "Open sans";
  font-size: 16px;
  line-height: 27px;
  padding: 0.5rem 0;
  height: 43px;
  width: 120px;
  margin: 0.5rem 0 1.5rem 0;
  cursor: pointer;
}

.disabled {
  background-color: #e8cccc23 !important;
}

.item {
  background: #ffffff;
  margin: 5px;
  padding: 10px 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 85%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.item h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backBtn button {
  position: relative;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6px 10px;
  gap: 10px;
  width: 100px;
  height: 28px;
  left: 18px;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}
