
p We regret to inform you that your account with Ploteye has been suspended.
p  Our records indicate that there has been suspicious activity associated with your account. As a result, we have taken this measure to protect the security and integrity of our platform.

p The suspected reason for the suspension is  #{suspend}. 
p We take such actions very seriously and have strict policies in place to ensure the safety of all our users.

p Please note that while your account is suspended, you will not be able to access any of our services or products. 
p We advise you to refrain from attempting to access your account until further notice.

p If you believe that this suspension has been made in error, or if you would like to appeal this decision, please contact us immediately. 
p Our team will investigate the issue and get back to you as soon as possible.